.board {
  display: flex;
  background-color: #333;
  width: 40rem;
  height: 40rem;
  box-sizing: border-box;
  position: relative;
  padding: 2rem;

  &__numbers {
    position: absolute;
    height: 100%;
    padding-top: 2rem;
    box-sizing: border-box;
    padding-bottom: 2rem;
    width: 2rem;
    top: 0;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }

  &__letters {
    height: 2rem;
    position: absolute;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
    left: 0;

    &--top {
      top: 0;
    }

    &--bottom {
      bottom: 0;
    }
  }

  &__grid {
    flex-grow: 1;
    width: 100%;
  }
}

.board-numbers {
  display: flex;
  color: #ddd;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  &--reverted {
    flex-direction: column-reverse;
  }
}

.board-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  justify-content: center;
  cursor: default;
}

.board-letters {
  color: #ddd;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}