.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__controls {
    margin-bottom: 1rem;
  }

  &__control {
    margin-left: 1rem;
    font-size: 2rem;
  }

  &__color-selector {
  }
}
